@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.banner {
   height: 90vh;
   width: 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.669)),
   url("https://images.unsplash.com/photo-1616970984049-a2041b869194?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   /* justify-content: center;
   align-items: center; */
   justify-content: center;
   align-items: center;
}
  
.content {
   color: white;
   text-align: center;
   width: 70%;
}

.content h2 {
   color:#ff0000;
   font-size: 54px;
   text-transform: uppercase;
}

.content p {
   font-size: 23px;
   margin: 15px 0;
   color:#f0ecec;
}

/* .content button {
   background-color: #006443;
   border: none;
   padding: 15px 32px;
   color: rgb(235, 232, 232);
   cursor: pointer;
   font-weight: 600;
   font-size: 16px;

} */

.content button {
   background-color: transparent;
   border: 3px solid rgb(255, 0, 0);
   padding: 15px 32px;
   color: rgb(235, 232, 232);
   cursor: pointer;
   font-weight: 600;
   font-size: 16px;
   background-size: 0%;
   background-image: linear-gradient(to right, #ED4264 , #FFEDBC);
   transition: all 0.5s ease;
   border-radius: 5px;
}

.content button:hover {
   background-size: 100%;
   color: #000000;
}

.another-linear-gradient-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: o auto;
   width: 100%;
   background-color: rgb(0, 0, 0);
   height: 500px;
}

.another-linear-gradient-btn button {
   background-color: transparent;
   background-image: linear-gradient(to left, red , rgb(200, 62, 20));
   padding: 20px 30px;
   border: 4px solid red;
   background-size: 0%;
   font-size: 20px;
   font-weight: 700;
   border-radius: 5px;
}

.another-linear-gradient-btn button:hover {
   background-size: 100%;
   color: white;
   transition: all 1s ease-in;
}